<div class="column">
    <form name="login" class="form">
        <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-primary is-rounded" type="text" placeholder="Enter username" name="username">
                <span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                </span>
            </div>
        </div>
        
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input is-primary is-rounded" type="password" name="password" placeholder="Type in your password">
            </div>
        </div>
    </form>
        
        
        <div class="section">
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link send_form">Login</button>
                </div>
                <div class="control">
                    <button class="button is-danger modal_cross">Cancel</button>
                </div>
            </div>
        </div>
</div>