<div class="section">
    <div class="container is-half-rounded" id="container_chat">
        <div class="columns">
            <div class="column is-half-rounded" id="discution_content">
            </div>
        </div>
    </div>
</div>

<div class="section" id="bar_bottom">
    <div class="container">
        <div class="columns">
            <div class="column is-12-desktop is-11-mobile">
                <input type="text" name="message" class="input is-primary is-large has-text-centered is-rounded" placeholder="Type a message in"
                    id="send_bar" autocomplete="off" />
            </div>
            <div class="column is-1">
                <button class="button fa fa-comment-alt is-large is-primary is-rounded"></button>
            </div>
        </div>
    </div>
</div>